# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd
*.db
*.npy
*.csv
# Virtual environments
venv/
.env/
.venv/
env/
ENV/

# Django specific
/staticfiles/
/media/
/db.sqlite3

# Migrations (ignore except __init__.py)
**/migrations/*.py
!**/migrations/__init__.py

# IDE / OS
.vscode/
.idea/
.DS_Store
Thumbs.db

# Model & large files
*.pt
*.pth
*.ckpt

# sample_features.npy
# sample_ids.npy
# sample_styles.csv
